
body{
    background: url(../assets/images/bgd1.jpg);
    margin-top: 0px;
}
.side_bar{
    width: 11%;
    background-color: black;
    opacity: 0.7;
    float:left;
    height: 1870px;
    margin-top: 20px;
    margin-left: 0px;
}
.side_bar>h2{
    color:#6699ff;
    margin-top:0px;
    margin-bottom: 20px;
    padding: 15px;
}
.side_bar>a{
    font-size: 22px;
    color: #00b3b3;
    text-decoration: none;
   padding-left: 10px;
   padding-bottom: 15px;
}
.main_continer{
    background-color:black; 
    opacity:0.6;
    width: 84%;
    height:1870px;
    border:25px solid black; 
    border-top: 15px solid black;
    margin:20px 10px 80px 0px;
    float: right;
}
.fadeinDownanimted>img{
    width: 150px;
    height: 200px; 
    border: 3px solid silver;
    margin: 60px 10px 10px 50px;
    padding: 10px;
    float: left;
    opacity: 100%;
}
h1{
    float: left; 
    margin:120px 0px 0px 0px; 
    color: #b3ff1a;
    padding:0px;
}
.Address{
    width:400px;
    font-size: 20px; 
    font-weight: bold;
    color: #00cccc;
}
.emailphone{
   color:#8cd9b3;
   margin-right: 30px; 
   float: right;
   margin-top: -140px;
   font-size: 20px;
}
.emailphone>img{
    width: 25px;
    height: 25px;
}
.nav_bar{
    background-color: black;
    height:60px;
    width: 100%;
    opacity: 0.6;
    
}
.nav_bar>img{
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 15px 0px 0px 123px; 
    float:left;
    opacity: 100%;   

}

.nav_bar>a {
    color: #fc9cfc;
    font-size: 18px;
    text-decoration:none;
    opacity: 100%;
    position:relative;
    top: 10px;
    font-weight: bold;
    padding-top:0px;
    float: left;
    margin-left:0px;
     margin-top: 11px;
     padding-left: 0px;
}
.sub_bar{
    background-color: #aaa;
    width: 100%;
    height: 40px; 
    margin-top: 40px;

}
.sub_bar>h3{
    position: relative;
    padding:10px 0px 0px 10px; 
    font-weight: bold;

}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
     width:100%; margin-top: 40px; 
     color: white; 
     border-color: white;
    }
           td, th 
           {
           border: 1px solid white;text-align: left;padding: 8px;font-style:italic;
                   }

           th{ background-color:  black;
                color: white;
                font-weight: bold;
                font-style: inherit;
                opacity: 0.9;
  }
  ul{
    margin-top: 30px; 
    color: white; 
    font-style: italic;
   }
   li{
    text-align: justify;
     font-size: 20px;
   }
   .sub_bar>p{
    text-align: justify; 
    font-size: 20px;
    margin-top: 30px;
    margin-left: 18px;
   }
   .pgh1{
    text-align: right; 
    font-size: 20px;
    margin-top: 30px; 
    padding:15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
   }
   
   .pgh3{
    float: left;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 20px;
    margin-left: 30px;
   }
   .pgh4{
    float: right;
    font-size: 20px;
    margin-right: 120px;
    margin-top: 100px;
   }

.fadeinDownanimted,.sub_bar{
    position: relative;
	-webkit-animation: mymove 5s 2;
    animation: mymove 10s ;
}

#sub_bar1 {-webkit-animation-timing-function: linear;}
#sub_bar2 {-webkit-animation-timing-function: ease;}
#sub_bar3 {-webkit-animation-timing-function: ease-in;}
#sub_bar4 {-webkit-animation-timing-function: ease-out;}
#sub_bar5 {-webkit-animation-timing-function: ease-in-out;}
#sub_bar6 {-webkit-animation-timing-function: linear;}
#sub_bar7 {-webkit-animation-timing-function: ease;}

#sub_bar1 {animation-timing-function: linear;}
#sub_bar2 {animation-timing-function: ease;}
#sub_bar3 {animation-timing-function: ease-in;}
#sub_bar4 {animation-timing-function: ease-out;}
#sub_bar5 {animation-timing-function: ease-in-out;}
#sub_bar6 {animation-timing-function: linear;}
#sub_bar7 {animation-timing-function: ease;}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 300px;}
}


@keyframes mymove {
    from {top: 0px;}
    to {top: 50px;}

}
p{
	color: white;
    font-style: italic;
}