<!Doctypehtml>
<html>
	<head>
		<title>
			contact us
		</title>
	</head>
	<body style="background: url(../assets/images/contact.jpg);">
		<h1 style="color: #99ff33; margin:200px auto auto 200px;"><B>Hello.. Please Call Us.. :</B></h1><h1 style="color: white;margin:50px auto auto 300px;"><B>+91 9492704294 ,<br>+91 8919971783 .</B></h1>
		<h1 style="color:  #99ff33; margin:20px auto auto 200px;">Email..@.com :</h1>
		<h2 style="color: white;margin:20px auto auto 300px;">saiprasadtirumala.t@gmail.com</h2>
	</body>
</html>